.table{
  &-index{
    min-width: 80px;
    text-align: center;
  }
  &-drug-name{
    min-width: 120px;
    text-align: center;
  }
  &-drug-classify{
    min-width: 50px;
    text-align: center;
  }
  &-drug-usage-dosage{
    min-width: 150px;
    text-align: center;
  }
  &-matters-attention{
    min-width: 200px;
    text-align: center;
  }
}
.people-components{
  width: 100%;
  display: flex;
  padding: 1em;
  flex-direction: column;
  .drug-in-out-button{
    margin: 0 0 1em auto !important;
  }
}