.setting-components{
    width: 100%;
    display: flex;
    padding: 1em;
    flex-direction: column;
    .table-header-col{
        text-align: center;
    }
    .drug-in-out-button{
      margin: 0 0 1em auto !important;
    }
    .setting-line-chart{
      border: 5px solid red;
      width: 50%;
      height: 50%
    }
  }